/*********************以下是所有界面都要统一的控件样式***************************/
/*蓝色按钮*/
.btn-blue{
    width:60px;
    height:30px;
    border-radius: 3px;
    color: white;
    border: 0;
    font-size: 16px;
    background-color:#3BB4F2 ;
}
.btn-blue:hover{
    cursor: pointer;
}
/*绿色按钮*/
.btn-green{
    width:60px;
    height:30px;
    border-radius: 3px;
    color: white;
    border: 0;
    font-size: 11pt;
    background-color:#5EB95E ;
}
.btn-green:hover{
    cursor: pointer;
}
/*输入框*/
.input-text{
    border-radius: 3px;
    font-size: 11pt;
    padding: 3px;
    border: 1px solid dodgerblue;
}
/*模块名称*/
.module-title{
    font-size: 16pt;
    color: #0E90D2;
    font-weight: bold;
}
/*表格每一列的宽度需要大家根据表格内容去自定义*/
/*请所有人自行将表格设置为cellspacing="0"*/
/*表格*/
.table{
    font-size: 13pt;
}
.table td{
    color: #333333;
    text-align: left;
    border-bottom:1px solid #DDDDDD;
    padding-left: 20px;
}
/*表格第一行，即表头*/
.table tr:nth-child(1){
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid darkslategrey;
}
/*表格偶数行*/
.table tr:nth-child(2n)
{
    background:#F9F9F9;
    border-bottom-color:  #DDDDDD ;
}
.table tr{
    height: 40px;
    line-height: 40px;
}